<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>RockxyHelperProtocolVersion</key>
	<string>$(ROCKXY_HELPER_PROTOCOL_VERSION)</string>
	<key>RockxyFamilyNamespace</key>
	<string>$(ROCKXY_FAMILY_NAMESPACE)</string>
	<key>RockxyHelperBundleIdentifier</key>
	<string>$(ROCKXY_HELPER_BUNDLE_ID)</string>
	<key>RockxyHelperMachServiceName</key>
	<string>$(ROCKXY_HELPER_MACH_SERVICE_NAME)</string>
	<key>RockxyAllowedCallerIdentifiers</key>
	<string>$(ROCKXY_ALLOWED_CALLER_IDENTIFIERS)</string>
	<key>RockxyLogSubsystem</key>
	<string>$(ROCKXY_HELPER_BUNDLE_ID)</string>
	<key>RockxySharedSupportDirectoryName</key>
	<string>$(ROCKXY_SHARED_SUPPORT_DIRECTORY_NAME)</string>
	<key>RockxySharedCertificateLabelPrefix</key>
	<string>$(ROCKXY_SHARED_CERTIFICATE_LABEL_PREFIX)</string>
</dict>
</plist>
